<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKnMgZBbg3fUgmh4LKXtI6f4-hx3kGL-c</string>
	<key>GCM_SENDER_ID</key>
	<string>272883245013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.columbia.icare-nyc</string>
	<key>PROJECT_ID</key>
	<string>icare-nyc-dbab5</string>
	<key>STORAGE_BUCKET</key>
	<string>icare-nyc-dbab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272883245013:ios:ea32103e166d773423e75c</string>
</dict>
</plist>